#root {
  width: 100%;
  text-align: center;
}

.footer {
    text-align: center;
    color: aliceblue;
    background-color: black;
    padding: 10px;
    width: 100%;
    position: fixed;            /* quedarse fijo abajo */
    bottom: 0;                  /* alineado al borde inferior */
    left: 0;
}